.container {
    display: inline-block;
    position: relative;
}
.container .text {
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15%;
    color: white;
    width: 70%;
}